.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background:
    linear-gradient(-23deg, #800080 0%, #800080 60%, white 60%, white 80%, #483D8B 80%, #483D8B 100%);
  background-size: 1600px 1600px; /* Adjust the size of the stripes */
  color: black; /* White text */
}

.navLink a {
  background: none;
  border: 3px solid purple;
  border-radius: .5rem;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  padding: .5rem;
  font-size: 1.25rem;
  text-decoration: none;
  color: inherit;
}

.main .navLink:link {
    text-decoration: none;
}

.buttonContainer {
  display: flex;
  width: 75vw;
  justify-content: space-evenly;
  margin-bottom: 185px;
}

.button button {
  background-color: darkblue;
  color: white;
}

/* Styles for the footer and buttons */
.footer {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: -90px;
  margin-right: 30px;
}

.footerButton {
  width: 30px;
  height: 30px;
  margin-left: 30px;
  margin-right: 50px;
  margin-bottom: 40px;
}

.footerButton button {
  background-color: transparent;
  border: none;
  padding: 0;
}

.footerButton img {
  width: 70px;
  height: 70px;
}

.header {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 80px;
}