.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.results a {
  text-decoration: none;
}

.main button {
  background: none;
  border: 1px solid purple;
  border-radius: .5rem;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  padding: .5rem;
  font-size: 1.25rem;
}

.buttonContainer {
  display: flex;
  width: 75vw;
  justify-content: space-evenly;
}

.searchContainer link {
  border: 1px solid purple;
  background: none;
  padding: .5rem;
  font-size: 1.25rem;
  border-radius: .5rem;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.searchContainer input {
  width: 50vw;
  height: 2rem;
  padding: .5rem;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Add this line */
  align-items: center;
  margin-top: 5em;
}

.results {
  font-size: 2em;
  text-align: center;
  display: flex;
  justify-content: center;
}

.results li {
  margin: .5em;
  list-style: none;
  text-decoration: none;
}

.filterContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1em;
}

.selector {
  display: flex;
  flex-direction: row;
}

.horiz {
  margin-top: 2em;
  margin-bottom: 2em;
}

.resultCount {
  margin-left: 1em;
}

.navigation {
  display: flex;
  justify-content: center;
  font-size: 1.3em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.pageCount {
  margin-left: 1em;
}